/*
   tweet-clone.css
   ih-prework-html-css
   
   Created by Hery Martin on 2017-02-11.
   Copyright 2017 Hery Martin. All rights reserved.
*/

/* Page Body Styles */

body {
	font-family: Helvetica;
	background-color: rgb(244, 248, 249);
}

/* Tweet Container (Main Container) Styles */

.tweet-container {
	margin: auto;
	border: solid 1px rgb(225, 232, 237);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: rgb(255, 255, 255);
	min-width: 250px;
	max-width: 520px;
	padding: 20px;
}

/* ======================== */
/* = Tweet Header Section = */
/* ======================== */

/* Follow Button Styles */

.follow-button {
	float:right;
	display: block;
	border: solid 1px rgb(85, 172, 238);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 5px 10px;
	color: rgb(85, 172, 238);
	font-size: .9em;
	font-weight: bold;
	text-decoration: none;
}

.follow-button:hover {
	background-color: rgb(85, 172, 238);
	color: rgb(255, 255, 255);
	font-size: .9em;
	font-weight: bold;
}

.logo {
	display: inline-block;
	height: 1.1em;
	width: 1.1em;
	background-image: url("img/twitter_logo_blue_16.png");
	background-repeat: no-repeat;
	background-size: contain;
	vertical-align: middle;
}

.follow-button:hover .logo {
	background-image: url("img/twitter_logo_white_16.png");
}

/* Author Info Enclosure Link */

.author {
	display: block;
	text-align: left;
	text-decoration: none;
}

/* Avatar (Profile Picture) */

.avatar {
	float: left;
	width: 36px;
	height: 36px;
}

/* Author Name */

.name {
	margin-left: 10px;
	font-weight: bold;
	color: black;
	vertical-align: top;
	text-align: left;
}

/* Validated Account Icon */

.validated-account {
	display: inline-block;
	height: 1.1em;
	width: 1.1em;
	background-image: url("img/validated-account.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	vertical-align: top;
}

/* Account Name */

.screen-name {
	margin-left: 10px;
	font-weight: normal;
	margin-left: 5px;
	color: rgb(104, 109, 129);
	vertical-align: bottom;
}

/* ========================= */
/* = Tweet Content Section = */
/* ========================= */

.content {
	margin-top: 15px;
}

/* ======================== */
/* = Tweet Footer Section = */
/* ======================== */

.tweet-footer {
	margin-top: 5px;
}

/* Date Time Text */
	
.date-time {
	font-size: .8em;
	color: rgb(101, 116, 127);
	text-decoration: none;
}

/* Actions Enclosure */

.actions {
	margin-top: 15px;
}

/* Common Action Links Styles */

.actions a {
	text-decoration: none;
	color: rgb(105, 120, 130);
	padding-right: 10px;
	font-size: .9em;
}

/* Common Action Icons Styles */

.actions a .icon {
	height: 1.5em;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: contain;
	vertical-align: top;
	margin-right: 5px;
}

/* Reply Icon Styles */

.reply .icon {
	width: 1.2em;
	background-image: url("img/reply-action.png");
}

.reply:hover .icon {
	background-image: url("img/reply-action-hover.png");
}

/* Retweet Icon Styles */

.retweet .icon {
	width: 1.4em;
	background-image: url("img/retweet-action.png");
}

.retweet:hover {
	color: rgb(25, 207, 134);
}

.retweet:hover .icon {
	background-image: url("img/retweet-action-hover.png");
}

/* Like Icon Styles */

.like .icon {
	width: 1em;
	background-image: url("img/like-action.png");
}

.like:hover {
	color: rgb(232, 28, 79);
}

.like:hover .icon {
	background-image: url("img/like-action-hover.png");
}